DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=xrqnafrj_dating_invitation
DB_USERNAME=xrqnafrj_sarthak_singhal
DB_PASSWORD=Sarthak@2026#MySQL
GEONAMES_USERNAME=tushar1234
GEOAPIFY_API_KEY=replace_with_your_geoapify_key
